*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
ul,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --white: #fff;
  --grey: #6f6f6f;
  --red: #ff4040;
  --black: #131313;
}

body {
  padding-top: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black)
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  margin-bottom: 150px;
}

.column {
  max-width: 570px;
  width: 100%;
}

.title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background-color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  color: var(--white);
  padding: 28px 60px 28px 81px;
  transition: background-color 0.7s;
}

.btn:hover {
  background-color: var(--red);
}

.slick-dots {
  position: absolute;
}

.slick-dots li {
  margin-bottom: 9px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  width: 2px;
  height: 25px;
  border: none;
  background-color: var(--black);
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.7s;
}

.slick-active button,
.slick-dots button:hover {
  background-color: var(--red);
}


/* Header */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
}

.menu {
  display: flex;
  margin-right: 73px;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 42px 20px;
  transition: color 0.7s, background-color 0.7s;
}

.menu__link:hover {
  color: var(--white);
  background-color: var(--black);
}

/* Bike */

.bike__inner {
  display: flex;
}

.bike__column {
  padding-right: 30px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 72px 0 5px;
}

.bike__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: var(--grey);
  margin: 0 0 60px;
}

.bike__info {
  margin-bottom: 80px;
}

.bike__info p {
  max-width: 420px;
  margin: 0 0 20px;
}

.bike__column-slider {
  max-width: 630px;
}

.bike-slider {
  margin-bottom: 25px;
}

.bike-slider .slick-dots {
  top: 50px;
  right: 0;
}

.bike__promo {
  display: flex;
  justify-content: space-between;
  margin: 0 65px;
}

.bike__promo-item {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.bike__promo dt {
  text-transform: lowercase;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}

.bike__promo dd {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px;
}

/* Advantages */

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__img {
  object-fit: cover;
  margin-right: 30px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages__title {
  margin-bottom: 10px;
}

.advantages__text p {
  margin: 0;
  max-width: 450px;
}

/* Features */

.features__inner {
  display: flex;
  justify-content: space-between;
}

.features__title {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  padding: 2px 0 3px;
}

.features__table {
  margin-right: 30px;
}

.features__item dl {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 25px;
}

.features__item:last-child dl {
  padding-bottom: 0;
}

.features__item dt,
.features__item dd {
  width: 50%;
  margin-bottom: 5px;
}

.features__item dt {
  padding-right: 25px;
}

.features__img {
  align-self: center;
}

/* Gallery */

.gallery {
  margin-bottom: 50px;
}

.slider__img {
  padding-left: 50px;
}

.slider .slick-dots {
  top: 0;
  left: 0;
}

/* Order` */

.order {
  margin-bottom: 100px;
}

.form__wrapper {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__text {
  width: 300px;
  margin-bottom: 30px;
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--black);
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.form__input::placeholder,
.form__text-radio {
  line-height: 120%;
  color: var(--grey);
  opacity: 0.5;
}

.form__text-radio {
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__label:not(:last-child) {
  margin-right: 23px;
}

.form__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__radio:checked + .form__bike {
  display: block;
}

.form__bike {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__bike-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 221px;
  top: 28px;
  left: -80px;
  font-size: 32px;
  line-height: 39px;
  border: 1px solid var(--red);
  border-radius: 50%;
}

.form__bike-price::after {
  position: absolute;
  content: '';
  height: 100px;
  width: 221px;
  border: 1px solid var(--red);
  border-radius: 50%;
  left: -1px;
  top: 11px;
}

.form__btn-color {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  cursor: pointer;
}

.form__btn-color--grey {
  background-color: var(--grey);
}

.form__btn-color--white {
  background-color: var(--white);
  border: 1px solid var(--grey);
}

.form__btn-color--red {
  background-color: var(--red);
}

/* Footer */

.footer {
  background-color: var(--black);
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  padding: 25px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  display: block;
  text-decoration: underline;
}

.footer__socials {
  display: flex;
}

.footer__socials-link:not(:last-child) {
  margin-right: 27px;
}

.footer__contacts {
  padding-left: 35px;
}

.footer__contacts-link {
  position: relative;
  display: block;
}

.footer__contacts-link:not(:last-child) {
  margin-bottom: 19px;
}

.footer__contacts-link::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: -34px;
  top: -4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.footer__contacts-link--phone::before {
  background-image: url('../images/footer-icon/phone.svg');
}

.footer__contacts-link--email::before {
  background-image: url('../images/footer-icon/email.svg');
}

/* Media */

@media (max-width:1110px) {
  .section {
    margin-bottom: 50px;
  }

  .menu__link:hover {
    background-color: transparent;
    color: var(--black);
  }

  .btn:hover {
    color: var(--white);
    background-color: var(--black);
  }

  .btn {
    transition: background-color 0s;
  }

  .header__nav {
    margin-bottom: 0;
  }


  .bike__inner {
    flex-wrap: wrap;
  }

  .bike__column {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .bike__info {
    margin-bottom: 30px;
  }

  .bike__info p {
    max-width: 100%;
  }

  .bike__column-slider {
    max-width: 100%;
  }

  .bike__promo {
    max-width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

  .advantages__img {
    display: none;
  }

  .advantages__list {
    max-width: 100%;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .advantages__text p {
    max-width: 100%;
  }

  .order {
    margin-bottom: 50px;
  }

  .form__bike-img {
    width: 500px;
  }

  .form__bike {
    top: 45px;
  }
}

@media (max-width:992px) {
  .menu {
    margin-right: 0;
  }

  .features__inner {
    flex-wrap: wrap;
  }

  .features__img {
    order: -1;
    max-width: 100%;
  }

  .features__table {
    max-width: 100%;
    margin-right: 0;
  }

  .form__label-box {
    margin-bottom: 300px;
  }

  .form__bike {
    top: auto;
    bottom: 85px;
    left: 0;
    right: auto;
  }

  .form__bike-img {
    width: 430px;
  }

  .form__bike-price {
    left: auto;
    right: -60%;
    top: 0;
  }
}

@media (max-width:760px) {
  .form__bike-price {
    right: -25%;
    top: -55px;
  }
}

@media (max-width:640px) {
  .header__nav {
    display: block;
  }

  .logo img {
    margin: 0 auto;
  }

  .menu {
    padding-top: 50px;
    justify-content: space-evenly;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__link {
    padding: 25px 20px;
  }

  .bike__title {
    font-size: 44px;
    line-height: 57px;
    margin: 30px 0 5px;
}

  .bike__subtitle {
    font-size: 22px;
    line-height: 29px;
    margin: 0 0 30px;
  }

  .bike__promo {
    flex-wrap: wrap;
  }

  .bike__promo-item {
    width: 50%;
    margin-bottom: 15px;
  }

  .slider__img {
    padding-left: 10px;
  }
}

@media (max-width:580px) {
  .form__bike-price {
    left: 0;
    right: auto;
    top: 25px;
    width: auto;
    height: auto;
    font-size: 18px;
    line-height: 20px;
    border: none;
    border-radius: 0;
    padding: 3px;
    color: var(--white);
    background-color: var(--black);
  }

  .form__bike-price::after {
    display: none;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__socials {
    padding: 15px 0;
  }

}

@media (max-width:460px) {
  .menu {
    justify-content: space-between;
  }

  .menu__link {
    padding: 25px 0;
  }

  .btn {
    letter-spacing: 0.9em;
    padding: 15px 10px 15px 25px;
  }

  .form__wrapper {
    text-align: center;
  }

  .form__text {
    width: 100%;
  }

  .form__label-box {
    justify-content: center;
    margin-bottom: 200px;
  }

  .form__bike-img {
    display: inline-block;
    width: 280px;
  }

  .form__bike {
    bottom: 60px;
    right: 0;
  }

}

@media (max-width:350px) {
  .menu {
    padding-top: 30px;
  }

  .menu__link {
    font-size: 12px;
  }

  .features__table dt,
  .features__table dd {
    font-size: 13px;
  }

  .slider {
    display: none;
  }
}